footer {
  background-color: grey;
  display:flex h3 {
    font-size: 20px;
    color: black;
  }
  .text-muted {
    font-size: 10px;
    color: aqua;
  }
  h5 {
    color: crimson;
    font-style: italic;
  }
}
